#board {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid rgb(41, 23, 23);
}

#black-hole {
    display: none;
    position: relative;
}

.square {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay-square, .highlight-square {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.2);
}

.highlight-square {
    background-color: rgba(222, 211, 211, 0.2);
}

.square img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.white {
    background-color: lightsalmon;
}

.black {
    background-color: rgb(166, 83, 83);
}
